---
layout: page
title: Categories
permalink: /categories/
---

<div class="category-panel col">
  <ul class="list-unstyled clearfix">
    {% assign categories_list = site.categories %}
    {% if categories_list.first[0] == null %}
      {% for category in categories_list %}
        <li>
          <a href="#{{ category | replace: ' ', '-' }}-ref" name="{{ category | replace: ' ', '-' }}-ref">
            {{ category }}
            <span class="badge pull-right">{{ site.categories[category].size }}</span>
          </a>
        </li>
      {% endfor %}
    {% else %}
      {% for category in categories_list %}
        <li>
          <a href="#{{ category[0] | replace: ' ', '-' }}-ref" name="{{ category[0] | replace: ' ', '-' }}-ref">
            {{ category[0] }}
            <span class="badge pull-right">{{ category[1].size }}</span>
          </a>
        </li>
      {% endfor %}
    {% endif %}
    {% assign categories_list = nil %}
  </ul>
</div>

<div class="tab-panel col">
  {% for category in site.categories %}
    <div class="tab-pane col" name="{{ category[0] | replace: ' ', '-' }}-ref">
      <h3 style="margin-top: 0px">Posts in <span class="date" style="font-size: 20px">{{ category[0] }}</span></h3>
      <ul class="list-unstyled">
        {% assign pages_list = category[1] %}
        {% for post in pages_list %}
          {% if post.title != null %}
            {% if group == null or group == post.group %}
              <li style="line-height: 35px;">
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                <span class="date">- {{ post.date | date: "%B %e, %Y" }}</span>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
      </ul>
    </div>
  {% endfor %}
</div>

<div class="clearfix"></div>