---
layout: default
banner: true
title: Potchy's Blog
nav: home
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post post-index">
      <div class="post-wrap {% if forloop.first and paginator.page == 1 %}post-lead{% endif %} container-12 clearfix">
        <div class="date grid-3">
          <span class="post-meta">
            <time datetime="{{ post.date | date_to_xmlschema }}">
              <span class="day">{{ post.date | date: "%e" }}</span>
              <span class="month-year">{{ post.date | date: "%B %y" }}</span>
            </time>
          </span>
        </div>

        <div class="grid-9">
          <h3 class="post-header"><a href="{{ site.baseurl }}{{ post.url }}" class="post-title">{{ post.title }}</a></h3>

          <div class="entry">
            {% if forloop.first and paginator.page == 1 %}
            <p>{{ post.content | strip_html | truncatewords: 40 }}</p>
            {% else %}
            <p>{{ post.content | strip_html | truncatewords: 20 }}</p>
            {% endif %}
          </div>

          {% if forloop.first and paginator.page == 1 %}
          <div class="read-more"><a href="{{ site.baseurl }}{{ post.url }}">Read More &rarr;</a></div>
          {% endif %}
        </div>
      </div>
    </article>
  {% endfor %}

  <ul class="pager clearfix">
    {% if paginator.previous_page %}
    <li class="previous">
      {% if paginator.previous_page == 1 %}
      <a href="{{ site.baseurl }}/">&larr; Newer</a>
      {% else %}
      <a href="{{ site.baseurl }}/{{ site.paginate_path | replace: ':num', paginator.previous_page }}">&larr; Newer</a>
      {% endif %}
    </li>
    {% else %}
    <li class="previous disabled">
      <a>&larr; Newer</a>
    </li>
    {% endif %}

    <li>
      <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    </li>

    {% if paginator.next_page %}
    <li class="next">
      <a href="{{ site.baseurl }}/{{ site.paginate_path | replace: ':num', paginator.next_page }}">Older &rarr;</a>
    </li>
    {% else %}
    <li class="next disabled">
      <a>Older &rarr;</a>
    </li>
    {% endif %}
  </ul>
</div>