---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
  -webkit-backface-visibility: hidden;
}

body {
	background: $white;
  font: 18px/1.4 $opensans;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $opensans;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  font-family: $raleway;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
  font-weight: normal;
  a {
    color: inherit;
  }
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $limeGreen;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $limeGreen;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-family: $raleway;
  font-size: 16px;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

a {
  transition: all 0.4s ease 0s;

  &.active {
    color: $limeGreen !important;
  }

  &:hover, &:active, &:focus {
    outline: 0;
  }
}

li > a {
  color: $darkGray;

  &:hover, &:active, &:focus {
    color: $limeGreen
  }
}

.col {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.pull-right {
  float: right;
}

.list-unstyled, .list-inline {
  list-style: outside none none;
  margin-top: 0;
}

.list-inline {
  margin-bottom: 0;
  padding-left: 0;

  > li {
    display: inline-block;
    padding-left: 5px;
  }
}

.rotate {
  transform: rotate(180deg);
  transition: 0.4s;
}

.rotate-reset {
  transform: rotate(0deg);
  transition: 0.4s;
}

.svg-icon-round {
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $white;
}

.page-icons {
  padding: 10px 10px;
  margin-left: 15px;
  background-size: 100%;
}

.misc-icons {
  padding: 3px 7px;
  background-size: 100%;
}

//
// .wrapper-right
//

.wrapper-right {
  width: $mainWidth;
  margin-left: $sidebarWidth;

  @include mobile {
    width: 100%;
    margin-left: 0;
  }
}

//
// .hidden
//

.hidden {
  display: none !important;
}

.hidden-large {
  display: none !important;

  @include mobile {
    display: block !important;
  }
}

.hidden-large-inline {
  display: none !important;

  @include mobile {
    display: inline !important;
  }
}

.hidden-small {
  display: block !important;

  @include mobile {
    display: none !important;
  }
}

.hidden-small-inline {
  display: inline !important;

  @include mobile {
    display: none !important;
  }
}

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;

  @include mobile {
    background-color: $darkBlue;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid $lightGray;

    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.masthead {
  border-bottom: 1px solid $lightGray;
  padding: 20px 0;

  @include mobile {
    border: none;
    text-align: center;
  }
}

.site-avatar {
  width: 70px;
  height: 70px;

  img {
    border-radius: 50%;
    width: 50%;
    transition: all 0.2s ease 0s;

    &:hover {
      border-radius: 15%;
    }
  }

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;

    img {
      width: 150px;
    }
  }
}

.site-avatar-small {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 15px;

  img {
    border-radius: 50px;
    transition: all 0.2s ease 0s;

    &:hover {
      border-radius: 5px;
    }
  }

  @include mobile {
    display: none !important;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $indie;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;

  @include mobile {
    color: $white;
  }
}

nav {
  float: right;
  margin: 10px 0;
  font-family: $indie;
  font-size: 20px;
  text-transform: uppercase;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 30px;
    color: $gray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    &:hover {
      color: $darkGray;
    }

    @include mobile {
      margin: 0 10px !important;
      color: $lightGray;

      &:hover {
        color: $gray;
      }
    }
  }
}

//
// #main
//

#main {
  -webkit-animation: fadein 1.3s;
     -moz-animation: fadein 1.3s;
      -ms-animation: fadein 1.3s;
          animation: fadein 1.3s;

  @keyframes fadein {
    from { opacity: 0 }
    to { opacity: 1 }
  }

  @-moz-keyframes fadein {
    from { opacity: 0 }
    to { opacity: 1 }
  }

  @-webkit-keyframes fadein {
    from { opacity: 0 }
    to { opacity: 1 }
  }

  @-ms-keyframes fadein {
    from { opacity: 0 }
    to { opacity: 1 }
  }

  .entry p {
    text-align: left;
  }

  .center-header {
    text-align: center;
  }

  .main-article {
    max-width: 45rem;
    margin: 0 auto;
  }

  .main-title {
    text-align: center;

    @include mobile {
      font-size: 24px;
    }
  }
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.post {
  text-align: center;

  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  hr {
    border: 2px solid $lighterGray;
    clear: both;
    margin: 3rem auto;
    width: 20%;
    height: 0;
  }

  .site-author {
    font-family: $indie;
    font-style: italic;
    font-size: 20px;
    color: $gray;

    a {
      font-style: normal;
    }

    @include mobile {
      font-size: 18px;
    }
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
    color: $gray;
    border: 2px solid $gray;
    border-radius: 25px;
    padding: 5px 14px;

    &:hover {
      color: $limeGreen;
      border-color: $limeGreen;
    }
  }

  @include mobile {
    font-size: 16px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid $lightGray;
  background: none repeat scroll 0 0 $darkBlue;
}

footer {
  padding: 20px 0;
  text-align: center;
}

//
// Categories and Tags
//

.category-panel, .tag-panel, .tab-panel {
  font-size: 16px;

  @include mobile {
    font-size: 13px;
  }
}

//
// .pager
//

.pager {
  list-style: outside none none;
  text-align: center;
  margin: 20px 0;
  padding-left: 0;
  font-size: 14px;

  li {
    display: inline;

    > a, > span {
      border: 1px solid $lighterGray;
      border-radius: 25px;
      display: inline-block;
      padding: 5px 14px;
    }
  }

  .previous {
    > a, > span {
      float: left;
    }
  }

  .next {
    > a, > span {
      float: right;
    }
  }

  .disabled {
    > a, > a:hover, > a:focus, > span {
      color: $lightGray;
      cursor: default;
    }
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
@import "sidebar";
@import "groups";
@import "misc";
