.category-panel, .tag-panel {
  width: 25%;
  float: left;

  ul {
    margin-bottom: 0;
    padding-left: 0;

    > li {
      display: block;
      position: relative;

      > a {
        display: block;
        padding: 10px 0;
      }
    }

    .badge {
      display: inline-block;
      background: none repeat scroll 0 0 $limeGreen;
      border-radius: 10px;
      color: $white;
      font-size: 12px;
      min-width: 10px;
      padding: 3px 7px;
      text-align: center;
      vertical-align: baseline;

      @include mobile {
        font-size: 10px;
      }
    }
  }

  @include mobile {
    width: 40%;

    &.col {
      padding-left: 0;
    }
  }
}

.tab-panel {
  width: 75%;
  float: left;
  border-left: 1px solid $lightGray;

  > .tab-pane {
    display: none;

    ul {
      padding-left: 0;

      > li > a {
        @include mobile {
          color: $limeGreen;
        }
      }
    }
  }

  @include mobile {
    width: 60%;

    &.col {
      padding-right: 0;
    }
  }
}