/*********/
/* POSTS */
/*********/

.posts > .post-index {
  visibility: hidden;

  .post-wrap {
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
    border-bottom: 1px solid $lightGray;
    text-align: left;

    &.post-lead {
      padding-top: 7.5rem;

      .date .post-meta {
        .day {
          font-size: 4rem;
        }

        .month-year {
          font-size: 1rem;
        }
      }

      .post-header {
        font-size: 2.8rem;

        .post-title {
          color: $green;
        }
      }
    }

    .date {
      margin-bottom: 0;

      .post-meta {
        display: block;
        text-align: center;
        line-height: 1;

        .day {
          display: block;
          font-family: $montserrat;
          font-size: 3.25rem;
          font-weight: 800;
          color: $orange;
        }

        .month-year {
          display: block;
          font-size: 0.875rem;
          color: $burn;
          font-family: $montserrat;
          text-transform: uppercase;
        }
      }
    }

    .post-header {
      font-size: 2.125rem;
      font-weight: 700;
      line-height: 1.1;
      margin: 0 0 0.9375rem;
      padding: 0;
      text-transform: uppercase;
      text-align: left;
    }

    .entry {
      font-size: 1.25rem;
      margin-top: 0.625rem;
      text-align: left;

      p {
        margin: 0;
        font-size: 1.25rem;
      }
    }

    .read-more {
      margin-top: 0.625rem;
      text-align: left;
    }

    .read-more a {
      display: inline-block;
      font-size: 1.25rem;
      color: $gray;
      border: 2px solid $orange;
      border-radius: 25px;
      padding: 0.7% 2%;

      &:hover {
        color: $white;
        background-color: $orange;
      }
    }
  }
}

.post {
  text-align: center;

  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .site-author {
    font-family: $montserrat;
    font-style: italic;
    font-size: 20px;
    color: $gray;

    a {
      font-style: normal;
    }

    @include mobile-lg {
      font-size: 18px;
    }
  }

  .comments {
    margin-top: 10px;
  }
}

.fadein-down {
  visibility: visible !important;
  -webkit-animation: fadein-down 1s;
     -moz-animation: fadein-down 1s;
      -ms-animation: fadein-down 1s;
          animation: fadein-down 1s;

  @keyframes fadein-down {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @-moz-keyframes fadein-down {
    from {
      opacity: 0;
      -moz-transform: translateY(-20px);
    }
    to {
      opacity: 1;
      -moz-transform: translateY(0);
    }
  }

  @-webkit-keyframes fadein-down {
    from {
      opacity: 0;
      -webkit-transform: translateY(-20px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(0);
    }
  }

  @-ms-keyframes fadein-down {
    from {
      opacity: 0;
      -ms-transform: translateY(-20px);
    }
    to {
      opacity: 1;
      -ms-transform: translateY(0);
    }
  }
}