
//
// VARIABLES
//

// Colors
$blue: #2BA6CB;
$crimson: #DC143C;
$orange: #E74C34;
$green: #00C957;
$darkBlue: #2E3C50;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #404040;
$gray: #737373;
$lightGray: #c8c8c8;
$lighterGray: #eaeaea;
$white: #fbfbfb;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$indie: "Indie Flower", cursive;
$montserrat: Montserrat, Arial, sans-serif;
$opensans: "Open Sans", Arial, sans-serif;
$raleway: Raleway, Arial, sans-serif;

// Side bar width
$sidebarWidth: 25%;
$mainWidth: 75%;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 760px) {
    @content;
  }
}