---
---

@charset "UTF-8";

@import "reset";
@import "variables";
@import "base";

.date {
  font-family: $raleway;
  font-size: 16px;
  color: $gray;
}

a {
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;

  &:hover, &:active, &:focus {
    outline: 0;
  }
}

li > a {
  color: $darkGray;

  &:hover, &:active, &:focus {
    color: $green
  }
}

.list-unstyled, .list-inline {
  list-style: outside none none;
  margin-top: 0;
}

.list-inline {
  margin-bottom: 0;
  padding-left: 0;

  > li {
    display: inline-block;
    padding-left: 5px;
  }
}

.svg-icon-round {
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $smoke;
}

.page-icons {
  padding: 10px 10px;
  margin-left: 15px;
  background-size: 100%;
}

.misc-icons {
  padding: 3px 7px;
  background-size: 100%;
}

/**********/
/* HEADER */
/**********/

.wrapper-masthead {
  display: block;
  width: 100%;
  overflow: hidden;
  background: $smoke;

  &.no-banner {
    background: $burn;
  }
}

.masthead {
  padding: 1.5rem 0;
  overflow: hidden;
}

.site-avatar-small {
  height: 45px;
  float: left;
  -webkit-transition: all 0.4s ease 0s;

  img {
    border-radius: 44px;
    max-height: 100%;
    margin-right: 0.8rem;
    float: left;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;

    &:hover {
      border-radius: 5px;
    }
  }
}

.site-name {
  margin: 0;
  color: $burn;
  display: block;
  float: left;
  cursor: pointer;
  font-family: $montserrat;
  font-size: 1.75rem;
  letter-spacing: -0.02rem;
  line-height: 1;
  margin-top: 0.52rem;
  transition: all 0.4s ease 0s;

  &:hover {
    color: $green;
  }
}

nav {
  display: block;
  float: right;
  font-family: $montserrat;
  font-size: 1rem;
  padding-top: 0.838rem;
  text-transform: uppercase;

  a {
    display: inline-block;
    margin-left: 3rem;
    color: $gray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    &:hover {
      color: $darkerGray;
    }

    &.active {
      color: $green;
    }
  }
}

.no-banner {
  .site-name {
    color: $green;
  }

  nav a {
    color: $lightGray;

    &:hover {
      color: $gray;
    }

    &.active {
      color: $green;
    }
  }
}

/**************/
/* NAVIGATION */
/**************/

#mobile-menu-toggle {
  display: none;
  text-indent: -9999px;
}

/**********/
/* BANNER */
/**********/

.banner {
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8), rgba(0,0,0,0)), url("../../images/banner.jpg") no-repeat fixed center center / cover;
  display: table;
  height: 70%;
  width: 100%;

  .banner-heading {
    display: table-cell;
    padding: 2em 0;
    vertical-align: middle;
  }

  h1 {
    color: $smoke;
    display: block;
    font-size: 2.75rem;
    font-weight: normal;
    margin: 0 auto;
    max-width: 60%;
    text-align: center;

    span {
      background-color: $orange;
      border-radius: 25px;
      padding: 0.7% 2%;
    }
  }
}

/********/
/* MAIN */
/********/

.main {
  .entry p {
    text-align: left;
  }

  .center-header {
    text-align: center;
  }

  .main-article {
    display: block;
    margin: 0 auto 3rem;
    max-width: 56.25rem;
  }

  .main-title {
    text-align: center;
  }
}

/**********/
/* FOOTER */
/**********/

.wrapper-footer {
  background: none repeat scroll 0 0 $burn;
  padding: 3rem 0;
}

footer {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 80%;

  .copyright {
    color: $lightGray;
    font-size: 0.9rem;
    margin: 2rem 0 0;
    text-align: center;
  }
}

//
// Categories and Tags
//

.category-panel, .tag-panel, .tab-panel {
  font-size: 16px;

  @include mobile-lg {
    font-size: 13px;
  }
}

//
// .pager
//

.pager {
  list-style: outside none none;
  text-align: center;
  margin: 1.4rem 0;
  padding-left: 0;
  font-size: 1rem;

  a:focus, a:active {
    color: $orange;
    border-color: $orange;
  }

  li {
    display: inline;
    padding: 0 0.3rem;

    > a, > span {
      border: 2px solid $lightGray;
      border-radius: 25px;
      display: inline-block;
      padding: 5px 14px;
    }

    &.previous, &.next {
      > a:hover {
        color: $smoke;
        border-color: $orange;
        background-color: $orange;
      }
    }
  }

  .disabled {
    > a, > a:hover, > a:focus, > span {
      color: $lightGray;
      cursor: default;
    }
  }
}

@import "posts";
@import "animation";
@import "responsive";
@import "svg-icons";
@import "groups";
@import "misc";
